* {
  box-sizing: border-box;
}

body,
html {
  font-family: $font-main;
  margin: 0;
  background-color: var(--m-200);
  scroll-behavior: smooth;

  transition: background-color 0.3s;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
}

a {
  font-family: $font-secondary;
  text-decoration: none;
  color: black;
  @include responsive-property(font-size, 12px, 14px, 320px, 1000px);
}

p,
span,
.p1 {
  font-family: $font-secondary;
  font-size: 16px;
  font-weight: 500;
  margin: 0;
  line-height: 26px;
  white-space: pre-wrap;
}

.p2 {
  font-family: $font-secondary;
  font-size: 15px;
  font-weight: 400;
  margin: 0;
  line-height: 24px;
  white-space: pre-wrap;
}

.p3 {
  font-family: $font-secondary;
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  line-height: 22px;
  white-space: pre-wrap;
}

h1,
.h1 {
  font-family: $font-main;
  @include responsive-property(font-size, 34px, 48px, 320px, 1000px);
  @include responsive-property(line-height, 41px, 52px, 320px, 1000px);
  white-space: pre-wrap;
  font-weight: 700;
  margin: 0;
}

h2,
.h2 {
  font-family: $font-main;
  @include responsive-property(font-size, 24px, 32px, 320px, 1000px);
  @include responsive-property(line-height, 29px, 48px, 320px, 1000px);
  white-space: pre-wrap;
  font-weight: 700;
  margin: 0;
}

h3,
.h3 {
  font-family: $font-main;
  @include responsive-property(font-size, 18px, 20px, 320px, 1000px);
  @include responsive-property(line-height, 22px, 32px, 320px, 1000px);
  white-space: pre-wrap;
  font-weight: 700;
  margin: 0;
}

h4,
h4 {
  font-family: $font-main;
  font-size: 15px;
  line-height: 20px;
  font-weight: 600;
  margin: 0;
  white-space: pre-wrap;
}

h5,
.h5 {
  font-family: $font-main;
  @include responsive-property(font-size, 17px, 20px, 320px, 1000px);
  font-weight: 600;
  margin: 0;
}

// Scroll styling
body::-webkit-scrollbar {
  width: 8px;
}
body::-webkit-scrollbar-track {
  background-color: #e0e0e0;
}
body::-webkit-scrollbar-thumb {
  background: rgba(#373636, 0.5);
}
