@import "./mixins.scss";

// Fonts -------------------
$font-main: "Maven Pro", sans-serif;
$font-secondary: "Avenir", sans-serif;

// Breakpoints -------------------
$break-m: 900px;

// Global sizes -------------------
$appBarWidth: 350px;
$contentWidth: 1180px;
$responsivePropertyLockMin: 450px;

// Easings -------------------
:root {
  --ease-in-out-sine: cubic-bezier(0.37, 0, 0.63, 1);
  --ease-in-out-cubic: cubic-bezier(0.65, 0, 0.35, 1);
  --ease-in-out-quint: cubic-bezier(0.83, 0, 0.17, 1);
  --ease-in-out-circ: cubic-bezier(0.85, 0, 0.15, 1);
  --ease-in-out-expo: cubic-bezier(0.87, 0, 0.13, 1);
  --ease-in-out-black: cubic-bezier(0.68, -0.55, 0.27, 1.55);
  --ease-in-out-back: cubic-bezier(0.68, -0.6, 0.32, 1.6);

  --ease-in-sine: cubic-bezier(0.12, 0, 0.39, 0);
  --ease-in-cubic: cubic-bezier(0.32, 0, 0.67, 0);
  --ease-in-quint: cubic-bezier(0.64, 0, 0.78, 0);
  --ease-in-circ: cubic-bezier(0.55, 0, 1, 0.45);
  --ease-in-expo: cubic-bezier(0.7, 0, 0.84, 0);
  --ease-in-black: cubic-bezier(0.68, -0.55, 0.27, 1.55);
  --ease-in-back: cubic-bezier(0.36, 0, 0.66, -0.56);

  --ease-out-sine: cubic-bezier(0.61, 1, 0.88, 1);
  --ease-out-cubic: cubic-bezier(0.33, 1, 0.68, 1);
  --ease-out-quint: cubic-bezier(0.22, 1, 0.36, 1);
  --ease-out-circ: cubic-bezier(0, 0.55, 0.45, 1);
  --ease-out-expo: cubic-bezier(0.16, 1, 0.3, 1);
  --ease-out-black: cubic-bezier(0.32, 1.55, 0.68, 0.45);
  --ease-out-back: cubic-bezier(0.34, 1.56, 0.64, 1.56);

  // Gaps -------------------
  --gap-s: 15px;
  --gap-m: 30px;
  --gap-l: 80px;
  @include breakpoint(600px) {
    --gap-s: 15px;
    --gap-m: 15px;
    --gap-l: 30px;
  }
}

// Colors -------------------
:root {
  --m-700: #0c0b23;
  --m-600: #100e2a;
  --m-500: #4138a8;
  --m: #6057c7;
  --m-300: #d7d5f1;
  --m-200: #dddcf4;
  --m-200-60: #dddcf499;
  --m-400: #493ebb;

  --background: #dddcf4;

  --s-500: #208079;
  --s: #1ed9ba;
  --seccondary-300: #91ebd9;
  --s-200: #e1fff9;

  --white: #f8f8fc;
  --black: #030307;
  --grey: #767d8b;
  --grey-light: #f3f3f3;
  --grey-dark: #15253d;

  --error: #de5d5d;
  --error-300: #ead3d3;

  --success: #61ca80;
}

.darkmode {
  --m-500: #4138a8;
  --m-400: #4e44c1;
  --m-300: var(--m-600);
  --m-200-60: #0c0b2399;
  --m-200: #0c0b23;
  --m: #4138a8;
  --black: var(--white);
  --white: var(var(--black));
}
